################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/template/out/build/x64-Debug
/template/ext
/template/.vs